{% extends "customer/customer_base.html" %}
{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Serial no</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Phone Number</th>
      <th scope="col">count</th>
      <th scope="col">Address</th>
    </tr>
  </thead>
  <tbody>
  {% for i in order1 %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ i.product.name }}</td>
      <td>{{ i.product.price }}</td>
      <td>{{ i.delivery_phone_number }}</td>
      <td>{{ i.count }}</td>
      <td>{{ i.delivery_address }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}